body {
	/* background-color: #ECE6DF; */
	position: relative;
	margin: 0;
}

.entete {
	padding: 40px 0px;
	box-shadow: 0px 0px 20px rgb(149, 149, 149);
}

.entete h1 {
	margin: 0;
	font-family: 'Playfair Display', serif;
	text-align: center;
}

.div_titre h2 {
	font-family: 'Playfair Display', serif;
	color: #1A1B28;
}

.div_informations_ville {
	padding: 20px;
	margin-top: 20px;
}

.ul_info_ville {
	padding: 0;
}

a, li, p {
	font-family: "Poppins", sans-serif;
}

a {
	text-decoration: none;
	color: grey;
}

.icon_info_ville_link {
	color: grey;
	height: 18px !important;
	margin-left: 6px;
}

.div_img_info_ville {
	display: flex;
	justify-content: center;
	margin-bottom: 30px;
}

.img_info_ville {
	width: 80%;
}

.p_info_ville {
	margin: 0;
}

.hr_info_ville {
	color: #6F895D;
	height: 2px;
	background-color: #6F895D;
	width: 60%;
	border-radius: 10px;
	border: none;
	margin: 40px auto;
}

.icon_link {
	height: 16px !important;
	margin-left: 4px;
	color: grey;
}

.div_logo {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	margin: 60px auto;
}

.div_logo img {
	width: 40px;
}

.div_pdf_utiles {
	margin-bottom: 50px;
}

.div_titre {
	display: flex;
	flex-direction: row;
	align-items: center;
	align-content: center;
	margin: 40px 0px 20px 0px;
}

.icon_png {
	height: 16px;
	margin-left: 12px;
}
