.statusFav {
  background-color: #e9e9e9;
  padding: 8px 16px;
  color: #727272;
  border-radius: 50px;
  display: flex;
  align-items: center;
  gap: 10px;
  width: fit-content;
}

.statusFav span {
  width: 8px;
  height: 8px;
  border-radius: 50px;
  display: block;
}

.statusFav.delivred span {
  background-color: #bbbeed;
}