h1 {
  font-family: "Playfair Display", serif;
  font-size: 24px;
  font-weight: 100;
  margin: 0;
}

.card {
  background: white;
  padding: 30px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.12);
}

.header_card {
  display: flex;
  gap: 10px;
  justify-content: space-between;
}

.status {
  background-color: #e9e9e9;
  padding: 10px 20px;
  color: #727272;
  border-radius: 50px;
  display: flex;
  align-items: center;
  gap: 10px;
  width: fit-content;
}

.status span {
  width: 8px;
  height: 8px;
  border-radius: 50px;
  display: block;
}

.green_space span {
  background-color: #bbbeed;
}

.green_space {
  margin-bottom: 20px;
}

.status.delivred span {
  background-color: #e2b065;
}

.favorite_green path {
  stroke: #6f895d;
  cursor: pointer;
}

.type {
  color: #6f895d;
  margin: 10px 0 20px;
  display: flex;
  gap: 5px;
  align-items: center;
}

.adress {
  display: flex;
  gap: 5px;
}

.css-9emuhu-MuiPaper-root-MuiDrawer-paper {
  border-radius: 21px 21px 0 0;
}

button.button-demand {
  background-color: black !important;
  width: 100%;
  margin-top: 20px !important;
  color: white !important;
  border-radius: 16px !important;
}