.icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.filterIcon {
  color: black;
}

.close {
  position: absolute;
  top: 16px;
  right: 16px;
  cursor: pointer;
}

.layout {
  padding: 16px;
}

.boxStyle {
  background-color: white;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
}

.drawer .MuiPaper-root {
  background-color: transparent;
}

.filter {
  position: fixed;
  z-index: 1000;
  right: 32px;
  top: 32px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: white;
}

.buttonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  background-color: rgba(217, 217, 217, 0.26);
  width: 60%;
  gap: 16px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  border-radius: 30px;
  margin: 8px 0;
  cursor: pointer;
}

.dot {
  height: 12px;
  width: 12px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.buttonFilter {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 80%;
  margin-top: 16px !important;
  margin-bottom: 24px !important;
  border-radius: 16px !important;
}

.purple {
  background-color: #BBBEED;
}

.orange {
  background-color: #E2B065
}