.entete {
	margin-bottom: 20px;
}

.div_asso {
	padding: 15px 24px;
}

.div_association_single {
	padding: 10px;
	border: 2px solid #ECE6DF;
	border-radius: 8px;
}

.div_association_single h2 {
	font-size: 18px;
	margin-bottom: 10px;
}

.association_location {
	display: flex;
	flex-direction: row;
	margin: 10px 0px 10px 0px;
	align-items: center;
}

.icon_location_association {
	color: #6F895D;
	margin-right: 4px;
	margin-left: -5px;
}

.link_asso_location {
	font-size: 14px;
}
