.div_form {
  padding: 15px 24px;
}

.description {
  font-weight: 500;
  margin-bottom: 1rem;
}

.form-input {
  width: 100%;
  min-height: 2rem;
  margin-bottom: 1rem;
}

.text-area {
  width: 100%;
  min-height: 4rem;
  resize: vertical;
}

.radioContainer {
  display: flex;
  justify-content: space-around;
  margin-bottom: 1rem;
}

.radio {
  display: flex;
  gap: 0.5rem;
}

.submit {
  width: 100%;
  height: 2rem;
  margin: 1rem 0;
}

.marginTop {
  margin-top: 1rem;
}