.navbar {
	position: relative;
	z-index: 9990;
}

.navbar_menu {
	transition: all 0.8s ease-out;
}

/* Bouton hamburger */
.nabvar_burger {
	position: fixed;
	left: 32px;
	top: 32px;
	width: 50px;
	height: 50px;
	z-index: 10;
	justify-content: center;
	cursor: pointer;
	background: transparent;
	;
	border: none;
	border-radius: 40px;
	display: flex;
	align-items: center;
	transition: all 0.8s ease-out;
	z-index: 9999;
}

.burger_close {
	background-color: #1A1B28;
	z-index: 99999;
}

.burger_open {
	background-color: white;
}

/*Menu de la navbar */
.navbar_menu {
	overflow-y: scroll;
	list-style: none;
	position: fixed;
	top: 0;
	background: #1A1B28;
	left: -100%;
	bottom: 0;
	height: 100vh;
	width: 0;
	overflow: hidden;
	width: 80%;
	z-index: 9999;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.navbar_menu.showMenu {
	left: 0;
}

/* Lien de la navbar */
.navbar_link {
	display: block;
	padding: 10px 20px;
	text-decoration: none;
	color: white;
	font-family: 'Poppins', serif;
}

li {
	list-style: none;
	display: flex;
	flex-direction: row;
	margin: 20px 0px;
	display: flex;
	align-items: center;
}

.icon_navbar {
	color: white;
	width: 30px;
	height: 30px;
}

/* Div du compte */
.navbar_account {
	display: flex;
	justify-content: center;
	flex-direction: column;
	margin-top: 100px;
	align-items: center;
	width: 100%;
}

.navbar_account p {
	text-align: center;
	font-family: 'Playfair Display', serif;
	font-size: 30px;
	margin-top: 20px;
	color: white;
}

/* Déconnexion */
.navbar_logout {
	width: 100%;
	display: flex;
	justify-content: center;
}

.logout {
	color: white;
	text-align: center;
	text-decoration: none;
	font-family: "Poppins", sans-serif;
}

/* Animation des liens */
.navbar_item {
	transform: translateY(100vh);
	padding: 0 2rem;
}

.showMenu .navbar_item {
	transform: translateY(0);
}

.showMenu .slideInDown-1 {
	transition: all 1s ease-out;
}

.showMenu .slideInDown-2 {
	transition: all 1.1s ease-out;
}

.showMenu .slideInDown-3 {
	transition: all 1.2s ease-out;
}

.showMenu .slideInDown-4 {
	transition: all 1.3s ease-out;
}

.showMenu .slideInDown-5 {
	transition: all 1.4s ease-out;
}

.showMenu .slideInDown-5 {
	transition: all 1.5s ease-out;
}